
<% var title = config.title %>
<% var keywords = config.keywords %>

<meta charset="UTF-8">
<meta name="keywords" content="<%= keywords %>">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta http-equiv="X-UA-Compatible" content="ie=edge">
<title><%= title %></title>

<link rel="stylesheet" type="text/css" href="<%- theme.libs.css.animate%>" />
<link rel="stylesheet" type="text/css" href="<%- theme.libs.css.materialize%>" />
<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet" />
<link rel="stylesheet" type="text/css" href="<%- theme.libs.css.scroll_progress%>" />
<link rel="stylesheet" type="text/css" href="<%- theme.css.myHeader%>" />
<link rel="stylesheet" type="text/css" href="<%- theme.css.myButton%>" />

<%- partial('_partial/source_js_befor') %>
