<% 
	var initFontColor = "#99b977",hoverFontColor = "#6ea931f2",
		itemFontColor = "#99b977",itemhoverFontColor = "#6ea931f2",itemHoverBackground = "yellow";
	
	if(theme.floatingMenu.initFontColor){
		initFontColor = theme.floatingMenu.initFontColor;
	} 
	if(theme.floatingMenu.hoverFontColor){
		hoverFontColor = theme.floatingMenu.hoverFontColor;
	} 
	if(theme.floatingMenu.itemFontColor){
		itemFontColor = theme.floatingMenu.itemFontColor;
	} 
	if(theme.floatingMenu.itemhoverFontColor){
		itemhoverFontColor = theme.floatingMenu.itemhoverFontColor;
	} 
	if(theme.floatingMenu.itemHoverBackground){
		itemHoverBackground = theme.floatingMenu.itemHoverBackground;
	} 
 %>

<style type="text/css">
	.floatingMenu{
		position: fixed;
		bottom: 0;
		right: 80px;
	}
	.floatingMenu>.navbar{
		width: 100px;
		height: 100px;
		line-height: 100px;
		border-radius: 50%;
		background: rgba(206, 210, 234,0.2);
		margin: 70px auto;
		position: relative;
		cursor: pointer;
		text-align: center;
		font-size: 1.5em;
		font-weight: bold;
		color: <%= initFontColor %>;
		transition: 0.24s 0.2s;
		box-shadow: 0 2px 2px 0 rgba(0,0,0,0.14), 0 1px 5px 0 rgba(0,0,0,0.12), 0 3px 1px -2px rgba(0,0,0,0.2);
	}
	.floatingMenu>.navbar:hover{
		background: rgba(255, 255, 255, 0.75);
		color: <%= hoverFontColor %>;
	}
	.floatingMenu>.navbar .menu{
		list-style: none;
		padding: 0;
		margin: 0;
		position: absolute;
		top: -50px;
		left: -50px;
		border: 100px solid transparent;
		cursor: default;
		border-radius: 50%;
		transform: scale(0);
		transition: transform 1.4s 0.07s;
		z-index: -1;
	}
	.floatingMenu>.navbar:hover .menu{
		transition: transform 0.4s 0.08s, z-index   0s  0.5s;
		transform: scale(1);
		z-index: 1;
	}
	.floatingMenu>.navbar .menu li{
		position: absolute;
		top: -85px;
		left: -85px;
		transform-origin: 85px 85px;
		transition: all 0.5s 0.1s;
	}
	.floatingMenu>.navbar:hover .menu li{
		transition: all 0.6s;
	}
	.floatingMenu>.navbar .menu li a{
		width: 45px;
		height: 45px;
		line-height: 45px;
		border-radius: 50%;
		background: #fff;
		position: absolute;
		font-size: 60%;
		color: <%= itemFontColor %>;
		transition: 0.6s;
	}
	
	.floatingMenu>.navbar:hover .menu li:nth-child(1){
		transition-delay: 0.02s;
		transform: rotate(85deg);
	}
	.floatingMenu>.navbar:hover .menu li:nth-child(1) a{
		transition-delay: 0.04s;
		transform: rotate(635deg);
	}
	.floatingMenu>.navbar:hover .menu li:nth-child(2){
		transition-delay: 0.04s;
		transform: rotate(125deg);
	}
	.floatingMenu>.navbar:hover .menu li:nth-child(2) a{
		transition-delay: 0.08s;
		transform: rotate(595deg);
	}
	.floatingMenu>.navbar:hover .menu li:nth-child(3){
		transition-delay: 0.06s;
		transform: rotate(165deg);
	}
	.floatingMenu>.navbar:hover .menu li:nth-child(3) a{
		transition-delay: 0.12s;
		transform: rotate(555deg);
	}
	.floatingMenu>.navbar:hover .menu li:nth-child(4){
		transition-delay: 0.08s;
		transform: rotate(205deg);
	}
	.floatingMenu>.navbar:hover .menu li:nth-child(4) a{
		transition-delay: 0.16s;
		transform: rotate(515deg);
	}
	.floatingMenu>.navbar:hover .menu li:nth-child(5){
		transition-delay: 0.1s;
		transform: rotate(245deg);
	}
	.floatingMenu>.navbar:hover .menu li:nth-child(5) a{
		transition-delay: 0.2s;
		transform: rotate(475deg);
	}
	.floatingMenu>.navbar:hover .menu li:nth-child(6){
		transition-delay: 0.12s;
		transform: rotate(285deg);
	}
	.floatingMenu>.navbar:hover .menu li:nth-child(6) a{
		transition-delay: 0.24s;
		transform: rotate(435deg);
	}
	.floatingMenu>.navbar:hover .menu li:nth-child(7){
		transition-delay: 0.14s;
		transform: rotate(325deg);
	}
	.floatingMenu>.navbar:hover .menu li:nth-child(7) a{
		transition-delay: 0.28s;
		transform: rotate(395deg);
	}
	.floatingMenu>.navbar:hover .menu li:nth-child(8){
		transition-delay: 0.16s;
		transform: rotate(365deg);
	}
	.floatingMenu>.navbar:hover .menu li:nth-child(8) a{
		transition-delay: 0.32s;
		transform: rotate(355deg);
	}
	.floatingMenu>.navbar:hover .menu li:nth-child(9){
		transition-delay: 0.18s;
		transform: rotate(405deg);
	}
	.floatingMenu>.navbar:hover .menu li:nth-child(9) a{
		transition-delay: 0.36s;
		transform: rotate(315deg);
	}
	.menu>li a:hover{
		color:<%= itemhoverFontColor %> !important;
		background:<%= itemHoverBackground %>!important;
	}
	<% 
	if(theme.floatingMenu.Colourful.enable){
		var index = 0;
		theme.floatingMenu.Colourful.item.map(item => { %>
			.menu>li:nth-child(<%= index+1 %>) a{
				color:<%= item.fontcolor %> !important;
				background:<%= item.background %>!important;
			}
			.menu>li:nth-child(<%= index+1 %>) a:hover{
				color:<%= item.hoverFontColor %> !important;
				background:<%= item.HoverBackground %>!important;
			}
	<%	index++;
		});
	}
	%>

</style>
<div class="floatingMenu hide-on-med-and-down" style="z-index:999;">
    <div class="navbar">
	<a href="<%= theme.floatingMenu.url %>" style="z-index:999;color:<%= initFontColor %>;">
		<%= theme.floatingMenu.text %>
	</a>
        <ul class="menu">
		<% 
		if(theme.floatingMenu.Colourful.enable){
			theme.floatingMenu.Colourful.item.map(item => { %>
				<li><a href="<%= item.url %>" class="fa fa-<%= item.icon %>"></a></li>
		<%	});
		}
		%>
        </ul>
    </div>
</div>
<div style="text-align:center;clear:both;">