<%# banner %>
<link rel="stylesheet" type="text/css" href="<%= theme.partial.css.index_banner %>">

<div class="index_banner carousel carousel-slider center" data-indicators="true">
    <div class="carousel-fixed-item center">
        <%         
        if (theme.indexBanner.btn && theme.indexBanner.btn.length>0) {
            theme.indexBanner.btn.map(item => { %>
            <a href="<%= item.url %>" class="hoverable transparent"><i class="fa fa-<%= item.icon %>"></i></a>
        <% }); } %>
    </div>
    <% 
    if(theme.indexBanner.banner && theme.indexBanner.banner.length>0 ) { 
        theme.indexBanner.banner.map(item => { %>
    <a href="<%= item.url %>">
        <div class="carousel-item white-text" href="#one!" style="background-image: url(<%= item.image %>);">
            <h2><%= item.title %></h2>
            <p class="white-text"><%= item.content %></p>
        </div>
    </a>
    <% }); } %>
</div>