<ul id="slide-out" class="side-nav">
    <li>
        <div class="userView">
            <div class="background">
            <img src="<%= theme.phoneSlide.userBackground %>">
        </div>
        <% 
        var aboutUrl = "#!about";
        Object.keys(theme.menu).forEach(menuItem => {
            if(menuItem == "about" || menuItem == "About"){
                aboutUrl = theme.menu[menuItem].url;
            }
        }); %>
        <a href="<%= url_for(aboutUrl) %>"><img class="circle" src="<%= theme.user.pic %>"></a>
        <% 
        var userName = "author",emil = "xxxxxxxxxxx@xxx.com";
        if(config.author){
            userName = config.author
        }
        if(theme.user.emil){
            emil = theme.user.emil
        } %>
        <a href="#!name"><span class="white-text name"><%= userName %></span></a>
        <a href="#!email"><span class="white-text email"><%= emil %></span></a>
    </li>
    <% Object.keys(theme.menu).forEach(menuItem => { %>
        <li>
            <a href="<%= url_for(theme.menu[menuItem].url) %>">
            <% if(theme.menu[menuItem].icon) { %>
                <i class="fa fa-<%= theme.menu[menuItem].icon %>"></i>
            <% } %>
            <%= __(menuItem) %></a>
        </li>
    <% }); %>
    <li><div class="divider"></div></li>
    <% 
    var userDescription = "个人简介";
    if(theme.user.description){
        userDescription = theme.user.description;
    }
     %>
    <li><a class="subheader"><%= userDescription %></a></li>
</ul>

<script>
// header phone set
<% 
    var phoneSlidePosition='left',closeOnClick = false,draggable = true,menuWidth = 240;
    if (theme.phoneSlide.position) {
        phoneSlidePosition = theme.phoneSlide.position
    } 
    if(theme.phoneSlide.closeOnClick){
        closeOnClick = theme.phoneSlide.closeOnClick;
    }
    if(theme.phoneSlide.draggable){
        draggable = theme.phoneSlide.draggable;
    }
    if(theme.phoneSlide.menuWidth){
        menuWidth = theme.phoneSlide.menuWidth;
    }
%>
$('.button-collapse').sideNav({
    menuWidth: <%= menuWidth %>, 
    edge: '<%= phoneSlidePosition %>',
    closeOnClick: <%= closeOnClick %>,
    draggable: <%= draggable %>
});
</script>