<!DOCTYPE html>
<html lang="<%= config.language %>" style="width:100%; height:100%;">

    <head>
        <%- partial('_partial/head') %>
    </head>
    
    <body style="width:100%; height:100%;background:#C7C7C7;">

        
        <%- partial('_partial/header')%>
        
        <%- body %>

        <%- partial('_widget/scroll_progress')%>
        <%- partial('_partial/source_js') %>
    </body>
</html>