<link rel="stylesheet" href="<%= theme.indexPage.css.main %>">
<% 
// 设置随机值
// 默认图片处使用
function randomPic(postName){
    var count = postName.length << 3,defaultThumbnailLength = theme.posts.defaultThumbnail.length;
    while (count >= defaultThumbnailLength) {
        count %= defaultThumbnailLength;
    }
    return count;
} %>
<main class="index">
    <header>
        <%- partial('_partial/index_header') %>
        <%- partial('_partial/index_banner') %>
    </header>
    <% if(theme.indexTitle1.enable && theme.indexTitle1.showPostsTitle && theme.indexTitle1.showPostsTitle.length>0){ %>
    <div class="row title1">
        <div class="col s0 m0 l1"></div>
        <div class="col s12 m12 l10">
            <h5 style="border-bottom:1px solid #<%= theme.indexTitle1.lineColor %>;color:#<%= theme.indexTitle1.color %>;">
                <i class="fa fa-<%= theme.indexTitle1.icon %>"></i>
                <%= theme.indexTitle1.text %>
            </h5>
            <div class="row">
                <% 
                // 设置推荐文章 按照时间（recommend模板中值为date）来与yml中的值判断
                theme.indexTitle1.showPostsTitle.map(showPostsItem => {
                    if(showPostsItem != null){
                        var postTagsI = 0;
                        site.posts.sort('date').reverse().map(postsItem => {
                            var postsItemRecommend = date(postsItem.recommend,"YYYY-MM-DD H:mm:ss");
                            if( showPostsItem == postsItemRecommend ){  %>
                <div class="col s12 m4 l3 title1Post">
                    <div class="card small hoverable indexCard01">
                        <a href="<%= url_for(postsItem.canonical_path) %>">
                        <div class="card-image waves-effect waves-block waves-light">
                            <div class="title1postData"><%= date(postsItem.date,theme.posts.dateFormat) %></div>
                            <% 
                            postsItem.categories.map(postsItemCategoriesItem => { 
                                var categoriesColor = "";
                                if(theme.categoriesColor){
                                    Object.keys(theme.categoriesColor).forEach(categoriesColorItem => {
                                        if(categoriesColorItem == postsItemCategoriesItem.name){
                                            categoriesColor = theme.categoriesColor[categoriesColorItem];
                                        }
                                    });
                                }
                            %>
                            <div class="<%= categoriesColor %> accent-3 title1PostCategory"><%= postsItemCategoriesItem.name %></div>
                            <% }); %>
                            <h5 class="indexPostTitle01 truncate title1PostTitle"><%= postsItem.title %></h5>
                            <% if(postsItem.thumbnail != null) { %>
                                <img class="activator" src="<%= postsItem.thumbnail %>">
                            <% } else { %>
                                <img class="activator" src="<%= theme.posts.defaultThumbnail[randomPic(postsItem.title)] %>">
                            <% } %>
                            <div class="title1PostStatistics">
                                <div class="title1PostStatistics1"><i class="fa fa-commenting-o"></i> 阅读量:99+</div>
                                <div class="title1PostStatistics0">|</div>
                                <div class="title1PostStatistics1"><i class="fa fa-commenting-o"></i> 评论数:99+</div>
                            </div>
                        </div>
                        </a>
                        <div class="card-content" style="padding:10px;">
                            <a href="<%= url_for(postsItem.canonical_path) %>">
                                <p class="title1PostContent"><%- strip_html(postsItem.content).substring(0, 120) %></p>
                            </a>
                        </div>
                        <div class="title1PostTag">
                            <% var TagsI = 0;
                            postsItem.tags.map(postsItemTagsItem => { 
                                var tagsColor = "";
                                if(theme.tagsColor){
                                    Object.keys(theme.tagsColor).forEach(tagsColorItem => {
                                        if(tagsColorItem == postsItemTagsItem.name){
                                            tagsColor = theme.tagsColor[tagsColorItem];
                                        }
                                    });
                                }
                                if(tagsColor == ""){
                                    if(theme.categoriesColor){
                                        Object.keys(theme.categoriesColor).forEach(categoriesColorItem => {
                                            if(categoriesColorItem == postsItemTagsItem.name){
                                                tagsColor = theme.categoriesColor[categoriesColorItem];
                                            }
                                        });
                                    }
                                }
                            %>
                            <a href="<%= url_for(postsItemTagsItem.path) %>">
                                <div class="<%= tagsColor %> hoverable chip indexPostChip <%= 'indexPostTags01'+postTagsI+ TagsI %>">
                                    <%= postsItemTagsItem.name %>
                                </div>
                            </a>
                            <% TagsI++; }); %>
                            <div class="chip indexPostChip indexPostTags01dot">...</div>
                        </div>
                    </div>
                </div>
                <% } postTagsI++; }); } }); %>
            </div>
        </div>
        <div class="col s0 m0 l1"></div>
    </div>
    <% } %>

    <div class="row">
        <div class="col s0 m0 l1"></div>
        <div class="col s12 m12 l10">
            <div class="row">
                <%# 按文章分类进行划分 siteCategoriesItem %>
                <div class="col s12 m12 l9 title2">
                    <% var showPostsN = 6;
                    if(theme.indexTitle2.showPostsNumber){
                        showPostsN = theme.indexTitle2.showPostsNumber;
                    }
                    if(site.categories && site.categories.length > 0){
                    var categoryPostTagsI = 0;
                    site.categories.map(siteCategoriesItem => { 
                    if(siteCategoriesItem.name != 'myself') { %>
                        <%
                        // 标题（二）
                        // 按照 Categories 分类 并根据前面的变量进行用户自定义设置
                        %>
                        <% var setTitle = false;
                        Object.keys(theme.indexTitle2).forEach(indexTitle2Item => { 
                        if (siteCategoriesItem.name == indexTitle2Item) { %>
                            <h5 class="title2Name" style="color:#<%= theme.indexTitle2[indexTitle2Item].color %>;border-bottom: 1px solid #<%=theme.indexTitle2[indexTitle2Item].lineColor %>;">
                                <i class="fa fa-<%= theme.indexTitle2[indexTitle2Item].icon %>"></i>&nbsp<span><%= theme.indexTitle2[indexTitle2Item].text %></span>
                                <% if(theme.indexTitle2[indexTitle2Item].text == ''){ %>
                                    <span><%= siteCategoriesItem.name %></span>
                                <% } %>
                                <a class="title2More" href="<%= url_for(siteCategoriesItem.path) %>"><i class="fa fa-chain"></i>&nbspmore...</a>
                            </h5>
                        <% setTitle = true; } %>
                        <% }); %>
                        <% if(!setTitle){ %>
                            <h5 class="title2NameNo">
                                <i class="fa fa-cubes"></i>&nbsp<span><%= siteCategoriesItem.name %></span>
                                <a class="title2More " href="<%= url_for(siteCategoriesItem.path) %>"><i class="fa fa-chain"></i>&nbspmore...</a>
                            </h5>
                        <% } %>
                        <% 
                        // 设置对应Categories的文章获取最新的
                        // 文章按时间反向排列
                        %>
                        <div class="row" style="margin:0;">
                        <% var postTagsI = 0;
                        siteCategoriesItem.posts.sort('date').reverse().map(siteCategoriesItemPostItem => { 
                        if(postTagsI < showPostsN){ %>
                            <div class="col s12 m6 l4 title2Post">
                                <div class="card small hoverable indexCard02">
                                    <a href="<%= url_for(siteCategoriesItemPostItem.canonical_path) %>">
                                    <div class="card-image waves-effect waves-block waves-light">
                                        <div class="title2PostTime"><%= date(siteCategoriesItemPostItem.date,theme.posts.dateFormat) %></div>
                                        <%
                                        var categoriesColor = "";
                                        if(theme.categoriesColor){
                                            Object.keys(theme.categoriesColor).forEach(categoriesColorItem => {
                                                if(categoriesColorItem == siteCategoriesItem.name){
                                                    categoriesColor = theme.categoriesColor[categoriesColorItem];
                                                }
                                            });
                                        }
                                        %>
                                        <div class="<%= categoriesColor %> accent-3 title2PostCategroy">
                                            <i class="fa fa-home fa-folder-open"></i>&nbsp
                                            <%= siteCategoriesItem.name %>
                                        </div>
                                        <h5 class="indexPostTitle02 truncate">
                                            <%= siteCategoriesItemPostItem.title %>
                                        </h5>
                                        <%
                                        // 设置文章缩略图
                                        // 没有使用默认图片
                                        %>
                                        <% if(siteCategoriesItemPostItem.thumbnail != null) { %>
                                            <img class="activator" src="<%= siteCategoriesItemPostItem.thumbnail %>">
                                        <% } else { %>
                                            <img class="activator" src="<%= theme.posts.defaultThumbnail[randomPic(siteCategoriesItemPostItem.title)] %>">
                                        <% } %>
                                        <div class="title1PostStatistics">
                                        <div class="title1PostStatistics1"><i class="fa fa-commenting-o"></i> 阅读量:99+</div>
                                        <div class="title1PostStatistics0">|</div>
                                        <div class="title1PostStatistics1"><i class="fa fa-commenting-o"></i> 评论数:99+</div>
                                        </div>
                                    </div>
                                    </a>
                                    <div class="card-content" style="padding:10px;">
                                    <a href="<%= url_for(siteCategoriesItemPostItem.canonical_path) %>">
                                        <p class="title2Content"><%- strip_html(siteCategoriesItemPostItem.content).substring(0, 120) %></p>
                                    </a>
                                    </div>
                                    <div class="title2PostTag">
                                        <% var tagsI = 0; // 设置标签 在main.js中对每个标签进行判断并计算宽度来显示标签个数
                                        siteCategoriesItemPostItem.tags.map(siteCategoriesItemPostItemTagsItem => { 
                                            var tagsColor = "";
                                            if(theme.tagsColor){
                                                Object.keys(theme.tagsColor).forEach(tagsColorItem => {
                                                    if(tagsColorItem == siteCategoriesItemPostItemTagsItem.name){
                                                        tagsColor = theme.tagsColor[tagsColorItem];
                                                    }
                                                });
                                            }
                                            if(tagsColor == ""){
                                                if(theme.categoriesColor){
                                                    Object.keys(theme.categoriesColor).forEach(categoriesColorItem => {
                                                        if(categoriesColorItem == siteCategoriesItemPostItemTagsItem.name){
                                                            tagsColor = theme.categoriesColor[categoriesColorItem];
                                                        }
                                                    });
                                                }
                                            }%>
                                        <a href="<%= url_for(siteCategoriesItemPostItemTagsItem.path) %>">
                                            <div class="<%= tagsColor %> hoverable chip indexPostChip <%= 'indexPostTags02'+categoryPostTagsI+postTagsI+tagsI %>">
                                                <%= siteCategoriesItemPostItemTagsItem.name %>
                                            </div>
                                        </a>
                                        <% tagsI++; }); %>
                                        <div class="chip indexPostChip indexPostTags02dot">...</div>
                                    </div>
                                </div>
                            </div>
                        <% postTagsI++; } }); %>
                        </div>
                    <% categoryPostTagsI++; } }); } %>
                </div>
                
                <div class="col s0 m0 l3 hide-on-med-and-down" style="padding:0;">
                    <div class="row">
                        <div class="col s0 m0 l12" style=" margin-top:30px;">
                            <h5 class="tagsTitle"><i class="fa fa-tags"></i> 标签
                                <a class="tagsMore" href="/tags/"><i class="fa fa-chain"></i>&nbspmore...</a>
                            </h5>
                            <div class="tagCloud">
                                <%- partial('_widget/tagcloud') %>
                            </div>
                        </div>
                        <div class="col s0 m0 l12" style=" margin-top:30px;">
                            <h5 class="growUpTitle"><i class="fa fa-user-o"></i> 成长记录</h5>
                            <div>
                            <% if(site.categories&&site.categories.length>0) {
                                site.categories.map(item => {
                                    if(item.name == 'myself'){
                                        var groupIndex = 0;
                                        item.posts.sort('date').reverse().map(postsItem => { 
                                            if(groupIndex <= 4 ) { %>
                                <div class="col s0 m0 l12 hoverable growUpTitlePost">
                                    <a href="<%= url_for(postsItem.canonical_path) %>">
                                        <div>
                                            <div class="card horizontal growUpPost">
                                                <div class="card-image" style="max-width: 39%;">
                                                    <img style="width:100%;height:100%;" src="<%= url_for(postsItem.thumbnail) %>">
                                                </div>
                                                <div class="card-stacked" style="background-color:#1FC7E4;">
                                                    <div class="card-content" style="padding:15px 10px;">
                                                        <p class="growUpContent">
                                                            <%- strip_html(postsItem.content).substring(0, 120) %>
                                                        </p>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="growUpPostData">
                                                <p><%= date(postsItem.date,theme.posts.dateFormat) %></p>
                                            </div>
                                        </div>
                                    </a>
                                </div>
                            <% } groupIndex++; }); } }); } %>
                            </div>
                        </div>
                        <div class="col s0 m0 l12" style=" margin-top:30px;">
                            <h5 style="padding:0 0 5px 0px;border-bottom:1px solid #fff;"><i class="fa fa-area-chart"></i> 统计</h5>
                            <div style="padding:2px;">
                                <% for(var i=0 ; i<10 ;i++){ %>
                                    <div class="chip">
                                        李四
                                    </div>
                                <%}%>
                                <div class="chip">
                                    java
                                </div>
                                <div class="chip">
                                    Android
                                </div>
                                <div class="chip">
                                    php
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col s0 m0 l1"></div>
    </div>

    <script type="text/javascript" src="<%= theme.indexPage.js.header %>"></script>
    <script type="text/javascript" src="<%= theme.indexPage.js.main %>"></script>
</main>