<!DOCTYPE html>
<html lang="en">
    <head>
        <%- partial('_common/head') %>
        <%- partial('_common/source_css') %>
        <%- partial('_common/source_js') %>
    <body style="background-color:#D8E1E0">
    <% 

    %>
        <%- body %>
        <%- partial('_common/footer') %>
    </body>
</html>