
<link rel="stylesheet" href="<%= theme.postPage.css.post %>">
<link rel="stylesheet" href="<%= theme.postPage.css.main %>">
<main style="background-color:#c5cae9;">
    <header>
        <%- partial('_partial/index_header') %>
        <%- partial('_partial/post_banner_common') %>
    </header>

    <div class="row postContent">
        <div class="col s0 m0 l1"></div>
        <div class="col s12 m12 l10" style="padding:0;">
            <div class="row">
                <div id="tocbot-content" class="col s12 m12 l9 card">
                    <%- page.content %>
                </div>
                <div class="col s0 m0 l3 rightSideBar">
                    <div class="toc-fex card hide-on-med-and-down tocbot">
                        <%- partial('_widget/tocbot') %>                    
                    </div>
                </div>
            </div>
        </div>
        <div class="col s0 m0 l1"></div>
    </div>

    <script type="text/javascript" src="<%= theme.postPage.js.commonBanner %>"></script>
    <script type="text/javascript" src="<%= theme.postPage.js.main %>"></script>
    <script type="text/javascript" src="<%= theme.postPage.js.mainCss %>"></script>
</main>