
<link rel="stylesheet" type="text/css" href="<%= theme.categoriesPage.css.button %>">
<link rel="stylesheet" type="text/css" href="<%= theme.categoriesPage.css.main %>">
<link rel="stylesheet" type="text/css" href="<%= theme.tagPags.css.main %>">
<% 
// 设置随机值
// 默认图片处使用
function randomPic(postName){
    var count = postName.length << 3,defaultThumbnailLength = theme.posts.defaultThumbnail.length;
    while (count >= defaultThumbnailLength) {
        count %= defaultThumbnailLength;
    }
    return count;
} %>
<main>
    <header>
        <%- partial('_partial/index_header') %>
        <%- partial('_partial/tag_banner_common') %>
    </header>
    
    <div class="row tagBtn">
        <div class="col s0 m0 l1"></div>
        <div class="col s12 m12 l10">
            <% var index = 1;var pageTags = page.tag;
            site.tags.map(tagsItem => { %>
                <% if(index%3 == 1) { %>
                    <a class="button red" href="/<%= tagsItem.path %>">
                    <% if(pageTags == tagsItem.name) { %>
                        <i class="fa fa-caret-right tagChoose"></i>&nbsp
                    <% } %>
                    <%= tagsItem.name %>&nbsp<%= tagsItem.length %></a>
                <% } else if(index%3 == 2){ %>
                    <a class="button blue" href="/<%= tagsItem.path %>">
                    <% if(pageTags == tagsItem.name) { %>
                        <i class="fa fa-caret-right tagChoose"></i>&nbsp
                    <% } %>
                    <%= tagsItem.name %>&nbsp<%= tagsItem.length %></a>
                <% } else if(index%3 == 0){%>
                    <a class="button green" href="/<%= tagsItem.path %>">
                    <% if(pageTags == tagsItem.name) { %>
                        <i class="fa fa-caret-right tagChoose"></i>&nbsp
                    <% } %>
                    <%= tagsItem.name %>&nbsp<%= tagsItem.length %></a>
                <% } %>
            <% index ++ ; }); %>
        </div>
        <div class="col s0 m0 l1"></div>
    </div>

    <div class="row tagPost">
        <div class="col s0 m0 l1"></div>
        <div class="col s12 m12 l10 tagPostPosition">
            <div class="row">
                <% 
                var postTagsI = 0;
                page.posts.sort('date').reverse().map(postsItem => { %>
                <div class="col s12 m4 l3 tagPosts">
                    <div class="card small hoverable indexCard01">
                        <a href="<%= url_for(postsItem.canonical_path) %>">
                        <div class="card-image waves-effect waves-block waves-light">
                            <div class="tagPostData"><%= date(postsItem.date,theme.posts.dateFormat) %></div>
                            <% 
                            postsItem.categories.map(postsItemCategoriesItem => { 
                                var categoriesColor = "";
                                if(theme.categoriesColor){
                                    Object.keys(theme.categoriesColor).forEach(categoriesColorItem => {
                                        if(categoriesColorItem == postsItemCategoriesItem.name){
                                            categoriesColor = theme.categoriesColor[categoriesColorItem];
                                        }
                                    });
                                }
                            %>
                            <div class="<%= categoriesColor %> accent-3 tagPostCategroy"><%= postsItemCategoriesItem.name %></div>
                            <% }); %>
                            <h5 class="indexPostTitle truncate tagPostTitle"><%= postsItem.title %></h5>
                            <% if(postsItem.thumbnail != null) { %>
                            <img class="activator" src="<%= postsItem.thumbnail %>">
                            <% } else { %>
                            <img class="activator" src="<%= theme.posts.defaultThumbnail[randomPic(postsItem.title)] %>">
                            <% } %>
                            <div class="tagPostStatistics">
                                <div class="tagPostStatistics1"><i class="fa fa-commenting-o"></i> 阅读量:99+</div>
                                <div class="tagPostStatistics0">|</div>
                                <div class="tagPostStatistics1"><i class="fa fa-commenting-o"></i> 评论数:99+</div>
                            </div>
                        </div>
                        </a>
                        <div class="card-content" style="padding:10px;">
                        <a href="<%= url_for(postsItem.canonical_path) %>">
                            <p class="tagPostContent"><%- strip_html(postsItem.content).substring(0, 120) %></p>
                        </a>
                        </div>
                        <div class="tagTagsPosition">
                            <% var TagsI = 0;
                            postsItem.tags.map(postsItemTagsItem => { 
                                var tagsColor = "";
                                if(theme.tagsColor){
                                    Object.keys(theme.tagsColor).forEach(tagsColorItem => {
                                        if(tagsColorItem == postsItemTagsItem.name){
                                            tagsColor = theme.tagsColor[tagsColorItem];
                                        }
                                    });
                                }
                                if(tagsColor == ""){
                                    if(theme.categoriesColor){
                                        Object.keys(theme.categoriesColor).forEach(categoriesColorItem => {
                                            if(categoriesColorItem == postsItemTagsItem.name){
                                                tagsColor = theme.categoriesColor[categoriesColorItem];
                                            }
                                        });
                                    }
                                }
                            %>
                            <a href="<%= url_for(postsItemTagsItem.path) %>">
                                <div class="<%= tagsColor %> hoverable chip indexPostChip <%= 'indexPostTags01'+postTagsI+ TagsI %> tagTagsName">
                                    <%= postsItemTagsItem.name %>
                                </div>
                            </a>
                            <% TagsI++; }); %>
                            <div class="chip indexPostChip indexPostTags01dot">...</div>
                        </div>
                    </div>
                </div>
                <% postTagsI++; }); %>
            </div>
        </div>
        <div class="col s0 m0 l1"></div>
    </div>
    <script type="text/javascript" src="<%= theme.categoriesPage.js.main %>"></script>
</main>